/* ========== Containers ========== */
table[class="row"] {
	width: 100% !important;
	max-width: 100% !important;
}
.wrapper {
	background-color: $body-background !important;
	width: $wrapper-width !important;
	max-width: $wrapper-width !important;
}
table[class="container"] {
	width: $container-width !important;
	max-width: $container-width !important;
}
/* =============== Grid System : For Container In With Offset Condition ============= */
table[class="container-grid1--with-gutter"] {
	float: left !important;
 	width: $container-grid1--with-gutter !important;
 	max-width: $container-grid1--with-gutter !important;
}
table[class="container-grid2--with-gutter"] {
	float: left !important;
 	width: $container-grid2--with-gutter !important;
 	max-width: $container-grid2--with-gutter !important;
}
table[class="container-grid3--with-gutter"] {
	float: left !important;
 	width: $container-grid3--with-gutter !important;
 	max-width: $container-grid3--with-gutter !important;
}
table[class="container-grid4--with-gutter"] {
	float: left !important;
 	width: $container-grid4--with-gutter !important;
 	max-width: $container-grid4--with-gutter !important;
}
table[class="container-grid5--with-gutter"] {
	float: left !important;
 	width: $container-grid5--with-gutter !important;
 	max-width: $container-grid5--with-gutter !important;
}
table[class="container-grid6--with-gutter"] {
	float: left !important;
 	width: $container-grid6--with-gutter !important;
 	max-width: $container-grid6--with-gutter !important;
}
table[class="container-grid7--with-gutter"] {
	float: left !important;
 	width: $container-grid7--with-gutter !important;
 	max-width: $container-grid7--with-gutter !important;
}
table[class="container-grid8--with-gutter"] {
	float: left !important;
 	width: $container-grid8--with-gutter !important;
	max-width: $container-grid8--with-gutter !important;
}
table[class="container-grid9--with-gutter"] {
	float: left !important;
 	width: $container-grid9--with-gutter !important;
 	max-width: $container-grid9--with-gutter !important;
}
table[class="container-grid10--with-gutter"] {
	float: left !important;
 	width: $container-grid10--with-gutter !important;
 	max-width: $container-grid10--with-gutter !important;
}
table[class="container-grid11--with-gutter"] {
	float: left !important;
 	width: $container-grid11--with-gutter !important;
 	max-width: $container-grid11--with-gutter !important;
}
/* =============== Grid System : For Container In Without Offset Condition ============= */
table[class="container-grid1--without-gutter"] {
	float: left !important;
 	width: $container-grid1--without-gutter !important;
 	max-width: $container-grid1--without-gutter !important;
}
table[class="container-grid2--without-gutter"] {
	float: left !important;
 	width: $container-grid2--without-gutter !important;
 	max-width: $container-grid2--without-gutter !important;
}
table[class="container-grid3--without-gutter"] {
	float: left !important;
 	width: $container-grid3--without-gutter !important;
 	max-width: $container-grid3--without-gutter !important;
}
table[class="container-grid4--without-gutter"] {
	float: left !important;
 	width: $container-grid4--without-gutter !important;
 	max-width: $container-grid4--without-gutter !important;
}
table[class="container-grid5--without-gutter"] {
	float: left !important;
 	width: $container-grid5--without-gutter !important;
 	max-width: $container-grid5--without-gutter !important;
}
table[class="container-grid6--without-gutter"] {
	float: left !important;
 	width: $container-grid6--without-gutter !important;
 	max-width: $container-grid6--without-gutter !important;
}
table[class="container-grid7--without-gutter"] {
	float: left !important;
 	width: $container-grid7--without-gutter !important;
 	max-width: $container-grid7--without-gutter !important;
}
table[class="container-grid8--without-gutter"] {
	float: left !important;
 	width: $container-grid8--without-gutter !important;
	max-width: $container-grid8--without-gutter !important;
}
table[class="container-grid9--without-gutter"] {
	float: left !important;
 	width: $container-grid9--without-gutter !important;
 	max-width: $container-grid9--without-gutter !important;
}
table[class="container-grid10--without-gutter"] {
	float: left !important;
 	width: $container-grid10--without-gutter !important;
 	max-width: $container-grid10--without-gutter !important;
}
table[class="container-grid11--without-gutter"] {
	float: left !important;
 	width: $container-grid11--without-gutter !important;
 	max-width: $container-grid11--without-gutter !important;
}
/* =============== Grid System : For Wrapper In Without Offset Condition ============= */
table[class="wrapper-grid1--without-gutter"] {
	float: left !important;
 	width: $wrapper-grid1--without-gutter !important;
 	max-width: $wrapper-grid1--without-gutter !important;
}
table[class="wrapper-grid2--without-gutter"] {
	float: left !important;
 	width: $wrapper-grid2--without-gutter !important;
 	max-width: $wrapper-grid2--without-gutter !important;
}
table[class="wrapper-grid3--without-gutter"] {
	float: left !important;
 	width: $wrapper-grid3--without-gutter !important;
 	max-width: $wrapper-grid3--without-gutter !important;
}
table[class="wrapper-grid4--without-gutter"] {
	float: left !important;
 	width: $wrapper-grid4--without-gutter !important;
 	max-width: $wrapper-grid4--without-gutter !important;
}
table[class="wrapper-grid5--without-gutter"] {
	float: left !important;
 	width: $wrapper-grid5--without-gutter !important;
 	max-width: $wrapper-grid5--without-gutter !important;
}
table[class="wrapper-grid6--without-gutter"] {
	float: left !important;
 	width: $wrapper-grid6--without-gutter !important;
 	max-width: $wrapper-grid6--without-gutter !important;
}
table[class="wrapper-grid7--without-gutter"] {
	float: left !important;
 	width: $wrapper-grid7--without-gutter !important;
 	max-width: $wrapper-grid7--without-gutter !important;
}
table[class="wrapper-grid8--without-gutter"] {
	float: left !important;
	width: $wrapper-grid8--without-gutter !important;
 	max-width: $wrapper-grid8--without-gutter !important;
}
table[class="wrapper-grid9--without-gutter"] {
	float: left !important;
 	width: $wrapper-grid9--without-gutter !important;
 	max-width: $wrapper-grid9--without-gutter !important;
}
table[class="wrapper-grid10--without-gutter"] {
	float: left !important;
 	width: $wrapper-grid10--without-gutter !important;
 	max-width: $wrapper-grid10--without-gutter !important;
}
table[class="wrapper-grid11--without-gutter"] {
	float: left !important;
 	width: $wrapper-grid11--without-gutter !important;
 	max-width: $wrapper-grid11--without-gutter !important;
}
/* =============== Grid System : For Container Full In With Offset Condition ============= */
table[class="wrapper-grid1--with-gutter"] {
	float: left !important;
 	width: $wrapper-grid1--with-gutter !important;
 	max-width: $wrapper-grid1--with-gutter !important;
}
table[class="wrapper-grid2--with-gutter"] {
	float: left !important;
 	width: $wrapper-grid2--with-gutter !important;
 	max-width: $wrapper-grid2--with-gutter !important;
}
table[class="wrapper-grid3--with-gutter"] {
	float: left !important;
 	width: $wrapper-grid3--with-gutter !important;
 	max-width: $wrapper-grid3--with-gutter !important;
}
table[class="wrapper-grid4--with-gutter"] {
	float: left !important;
 	width: $wrapper-grid4--with-gutter !important;
 	max-width: $wrapper-grid4--with-gutter !important;
}
table[class="wrapper-grid5--with-gutter"] {
	float: left !important;
 	width: $wrapper-grid5--with-gutter !important;
 	max-width: $wrapper-grid5--with-gutter !important;
}
table[class="wrapper-grid6--with-gutter"] {
	float: left !important;
 	width: $wrapper-grid6--with-gutter !important;
 	max-width: $wrapper-grid6--with-gutter !important;
}
table[class="wrapper-grid7--with-gutter"] {
	float: left !important;
 	width: $wrapper-grid7--with-gutter !important;
 	max-width: $wrapper-grid7--with-gutter !important;
}
table[class="wrapper-grid8--with-gutter"] {
	float: left !important;
 	width: $wrapper-grid8--with-gutter !important;
 	max-width: $wrapper-grid8--with-gutter !important;
}
table[class="wrapper-grid9--with-gutter"] {
	float: left !important;
 	width: $wrapper-grid9--with-gutter !important;
 	max-width: $wrapper-grid9--with-gutter !important;
}
table[class="wrapper-grid10--with-gutter"] {
	float: left !important;
 	width: $wrapper-grid10--with-gutter !important;
 	max-width: $wrapper-grid10--with-gutter !important;
}
table[class="wrapper-grid11--with-gutter"] {
	float: left !important;
 	width: $wrapper-grid11--with-gutter !important;
 	max-width: $wrapper-grid11--with-gutter !important;
}