@media only screen and (max-width: 299px) {
	table.container {
	 	width: 180px !important;
		max-width: 180px !important;
	}
}
@media only screen and (max-width: 479px) {
	table.container {
	 	width: 300px !important;
		max-width: 300px !important;
	}
}
@media only screen and (max-width: 599px) {
	table.wrapper {
	 	width: 100% !important;
	 	max-width: 100% !important;
	}
	table.container {
	 	width: 480px !important;
		max-width: 480px !important;
	}
	table.container-grid1--with-gutter, table.container-grid2--with-gutter, table.container-grid3--with-gutter, table.container-grid4--with-gutter, table.container-grid5--with-gutter, table.container-grid6--with-gutter, table.container-grid7--with-gutter, table.container-grid8--with-gutter, table.container-grid9--with-gutter, table.container-grid10--with-gutter, table.container-grid11--with-gutter {
		width: 100% !important;
        max-width: 100% !important;
	}
	table.container-grid1--without-gutter, table.container-grid2--without-gutter, table.container-grid3--without-gutter, table.container-grid4--without-gutter, table.container-grid5--without-gutter, table.container-grid6--without-gutter, table.container-grid7--without-gutter, table.container-grid8--without-gutter, table.container-grid9--without-gutter, table.container-grid10--without-gutter, table.container-grid11--without-gutter {
		width: 100% !important;
        max-width: 100% !important;
	}
	table.wrapper-grid1--without-gutter, table.wrapper-grid2--without-gutter, table.wrapper-grid3--without-gutter, table.wrapper-grid4--without-gutter, table.wrapper-grid5--without-gutter, table.wrapper-grid6--without-gutter, table.wrapper-grid7--without-gutter, table.wrapper-grid8--without-gutter, table.wrapper-grid9--without-gutter, table.wrapper-grid10--without-gutter, table.wrapper-grid11--without-gutter {
		width: 100% !important;
        max-width: 100% !important;
	}
	table.wrapper-grid1--with-gutter, table.wrapper-grid2--with-gutter, table.wrapper-grid3--with-gutter, table.wrapper-grid4--with-gutter, table.wrapper-grid5--with-gutter, table.wrapper-grid6--with-gutter, table.wrapper-grid7--with-gutter, table.wrapper-grid8--with-gutter, table.wrapper-grid9--with-gutter, table.wrapper-grid10--with-gutter, table.wrapper-grid11--with-gutter {
		width: 100% !important;
        max-width: 100% !important;
	}
	td.nav-item, a.nav-active {
		display: block;
	}
	table.gutter-small, table.gutter-medium, table.gutter-large {
 		width: 100% !important;
 		max-width: 100% !important;
	}
	table.text-left--small, td.text-left--small, p.text-left--small, strong.text-left--small, h1.text-left--small, h2.text-left--small, h3.text-left--small, h4.text-left--small, h5.text-left--small, h6.text-left--small {
		text-align: left !important;
	}
	table.text-center--small, td.text-center--small, p.text-center--small, strong.text-center--small, h1.text-center--small, h2.text-center--small, h3.text-center--small, h4.text-lefcentert--small, h5.text-center--small, h6.text-center--small {
		text-align: center !important;
	}
	table.text-right--small, td.text-right--small, p.text-right--small, strong.text-right--small, h1.text-right--small, h2.text-right--small, h3.text-right--small, h4.text-right--small, h5.text-right--small, h6.text-right--small {
		text-align: right !important;
	}
	td.show--small, table.show--small, p.show--small, strong.show--small, h1.show--small, h2.show--small, h3.show--small, h4.show--small, h5.show--small, h6.show--small {
		display: block !important;
	}
	td.hide--small, table.hide--small, p.hide--small, strong.hide--small, h1.hide--small, h2.hide--small, h3.hide--small, h4.hide--small, h5.hide--small, h6.hide--small {
		display: none !important;
		font-size: 0 !important;
		line-height: 0 !important;
	}
	table.border-0--small, td.border-0--small, p.border-0--small, strong.border-0--small, h1.border-0--small, h2.border-0--small, h3.border-0--small, h4.border-0--small, h5.border-0--small, h6.border-0--small {
		border: none !important;
	}
	table.border-primary--small, td.border-primary--small, p.border-primary--small, strong.border-primary--small, h1.border-primary--small, h2.border-primary--small, h3.border-primary--small, h4.border-primary--small, h5.border-primary--small, h6.border-primary--small {
		border: 1px solid $brand-color !important;
	}
	td.gmail_fix {
	 	display: none !important;
	}
	table.padding-0--small, td.padding-0--small, p.padding-0--small, strong.padding-0--small, h1.padding-0--small, h2.padding-0--small, h3.padding-0--small, h4.padding-0--small, h5.padding-0--small, h6.padding-0--small {
		padding: 0px !important;
	}
	td.padding-30--small {
		padding: 30px 0 !important;
	}
	td.padding-15--small {
		padding: 0 15px !important;
	}
	table.full {
		width: 100% !important;
		max-width: 100% !important;
	}
	h1.letter-spacing {
		letter-spacing: 11px !important;
	}
	h1.heading-xlarge--small {
		font-size: 36px !important;
		line-height: 43px !important;
	}
}