img.gmail_fix {
	display: block !important;
	max-height: 1px !important;
	min-height: 1px !important;
	min-width: 650px !important;
	width: 650px !important;
}
td.gmail_fix {
	line-height: 1px !important;
	min-width: 650px !important;
}