a[class="button-filled"] {
	font-family: $secondary-font-family;
	font-size: $text-small-size;
	line-height: $text-small-height;
	font-weight: 500;
	letter-spacing: 0.03em;
	color: $white;
	display: inline-block;
	padding: 11px 39px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}
td[class="button-filled"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: $brand-color;
}
.button-outlined {
	font-family: $secondary-font-family;
	font-size: $text-small-size;
	line-height: $text-small-height;
	font-weight: 500;
	letter-spacing: 0.03em;
	color: $brand-color;
	border: 2px solid $brand-color;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: transparent;
	display: inline-block;
	padding: 11px 39px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}
.button-rounded {
	font-family: $secondary-font-family;
	font-size: $text-small-size;
	line-height: $text-small-height;
	font-weight: 500;
	letter-spacing: 0.03em;
	color: $brand-color;
	border: 2px solid $brand-color;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	background-color: transparent;
	display: inline-block;
	padding: 11px 39px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}