table.separator-small {
	width: 100% !important;
	max-width: 100% !important;
}
td.separator-small {
	height: 1px !important;
	line-height: 1px !important;
	background-color: #dddddd !important;
}
table.separator-medium {
	width: 100% !important;
	max-width: 100% !important;
}
td.separator-medium {
	height: 5px !important;
	line-height: 5px !important;
	background-color: #ffffff !important;
}
table.separator-large {
	width: 100% !important;
	max-width: 100% !important;
}
td.separator-large {
	height: 7px !important;
	line-height: 7px !important;
	background-color: #ffffff !important;
}