table[class="separator"] {
	width: 100% !important;
	max-width: 100% !important;
}
td[class="separator"] {
	height: 1px !important;
	line-height: 1px !important;
	background-color: #dddddd !important;
}