/* ========== Spacer ========== */
table.spacer-small {
 	width: $spacer-width !important;
 	max-width: $spacer-width !important;
}
table.spacer-medium {
	width: $spacer-width !important;
 	max-width: $spacer-width !important;
}
table.spacer-large {
	width: $spacer-width !important;
 	max-width: $spacer-width !important;
}
table.spacer-xlarge {
	width: $spacer-width !important;
 	max-width: $spacer-width !important;
}
table.spacer-huge {
	width: $spacer-width !important;
 	max-width: $spacer-width !important;
}
td.spacer-small {
 	height: $spacer-small-height !important;
 	line-height: $spacer-small-height !important;
}
td.spacer-medium {
	height: $spacer-medium-height !important;
 	line-height: $spacer-medium-height !important;
}
td.spacer-large {
	height: $spacer-large-height !important;
 	line-height: $spacer-large-height !important;
}
td.spacer-xlarge {
	height: $spacer-xlarge-height !important;
 	line-height: $spacer-xlarge-height !important;
}
td.spacer-huge {
	height: $spacer-huge-height !important;
 	line-height: $spacer-huge-height !important;
}