// 1. Global
// ---------
$primary-color: #2f2f2f;
$secondary-color: #595959;
$brand-color: #6ccf16;
$black: #0b0b0b;
$white: #ffffff;
$light-grey: #fcfff5;
$medium-grey: #cacaca;
$dark-grey: #494949;
$color-active: #ea4433;
$link-color: #fde148;
$body-background: $white;
$background-grey: $light-grey;
$background-dark: $black;
$background-white: $white;
